{% set currentRoute = app.request.attributes.get('_route') %}

<div class="menu-overlay" id="menuOverlay"></div>

<nav class="fab-wrapper" id="fabWrapper">
    <button class="fab-main-btn" id="fabTrigger">
        <i class="fa-solid fa-arrow-left" id="mainIcon"></i>
    </button>

    <ul class="fab-list">
        <li style="--i:-1.5;">
            <a
                href="{{ path('wallets_list') }}"
                class="{{ currentRoute == 'wallets_list' ? "active" : "" }}"
                data-title="Wallets">

                <i class="fa-solid fa-wallet"></i>
                <span class="label">Wallets</span>
            </a>
        </li>

        <li style="--i:-0.5;">
            <a
                href="{{ path('settings') }}"
                class="{{ currentRoute == 'settings' ? "active" : "" }}"
                data-title="Settings">
                <i class="fa-solid fa-gear"></i>
                <span class="label">Settings</span>
            </a>
        </li>


        <li style="--i:0.5;">
            <a href="#" data-title="Mode Sombre">
                <i class="fa-solid fa-moon"></i>
                <span class="label">Sombre</span>
            </a>
        </li>

        <li style="--i:1.5;">
            <a href="{{ path('app_logout') }}" data-title="Déconnexion">
                <i class="fa-solid fa-power-off"></i>
                <span class="label">Logout</span>
            </a>
        </li>
    </ul>
</nav>
